.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.result {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.result h3 {
  margin: 0;
}

.result p {
  margin: 5px 0;
}
